<!--2018.5.3 zl-->
<style>
    button.button-default{
        background: #B70825;
        color: #ffffff;
    }
    /*.ng-binding{*/
        /*font-size: 14px;*/
        /*color: #00a2d4;*/
    /*}*/
    ul.tempporAccList{
        padding: 20px 15px;
    }
    ul.tempporAccList>li{
        padding: 15px 20px;
        height: 90px;
        background: #ffffff;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0px 0px 1px 10px #EBEFF2;
        margin-top: -5px;
    }
    .temp-info{
         color: #808080;
        /*display: -webkit-box;*/
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden
     }
    .temp-list:last-child{
        /*height: 40px;*/
        /*padding: 5px 10px;*/
    }
    .header-item{
        margin-left: 5px;
    }
    .bar .title+.buttons{
        right: 15px !important;
    }

</style>


<ion-header-bar hide-tabs="true" id="s-header" class="{{vm.model.subAccountTypeText.split(':')[4].split(',')[0]}}" cache-view="false">
    <div class="button button-clear icon iconfont icon-jiantou" style="left: 2px;" ng-click="goNativeBack('tab.account')"></div>
    <h1 class="title1" style="color: #fff;font-weight: normal">{{vm.model.subAccountTypeText.split(':')[0]}}</h1>
    <button class="button button-icon-sm button-clear icon iconfont ion-plus" ng-if="vm.type == 1" ng-click="accountAdd()" style="position: absolute;right:44px;top:6px;"></button>
    <button class="button button-icon-sm button-clear icon iconfont {{vm.model.subAccountTypeText.split(':')[1]}}" ng-click="moreToggle()" style="position: absolute;right:10px;top:6px;"></button>
    <span class="more-hide-arrow" ng-show="visible"></span>
    <div class="more-hide" ng-show="visible">
        <ul>
            <li class="button button-clear" ng-click="goNativeBack('tab.account')">
                <i class="iconfont icon-58-copy" style="color: #fff;font-size: 16px;"></i>
                <label style="font-size: 15px">首&nbsp;&nbsp;&nbsp;&nbsp;页</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.notice-list')">
                <i class="iconfont icon-wodexiaoxi2" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">消&nbsp;&nbsp;&nbsp;&nbsp;息</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.account-qrcode')">
                <i class="iconfont icon-erweima1" style="color: #fff;font-size: 14px;"></i>
                <label style="font-size: 15px">邀请码</label>
            </li>
            <li class="button button-clear" ng-click="goNativeBack('tab.manage')">
                <i class="iconfont icon-user" style="color: #fff;font-size: 17px;"></i>
                <label style="font-size: 15px">我&nbsp;&nbsp;&nbsp;&nbsp;的</label>
            </li>
        </ul>
    </div>
</ion-header-bar>
<ion-content class="{{vm.model.subAccountTypeText.split(':')[4].split(',')[1]}}">
    <ion-refresher on-refresh="vm.doRefresh()"
                   pulling-text="下拉刷新"
                   refreshing-text="刷新中..."
                   refreshing-icon="ion-loading-b">
    </ion-refresher>
    <ul class="list tempporAccList">
        <li class="item item-sm text-center" ng-show="!vm.hasData&&vm.items.length==0">暂无临时用户</li>
        <!-- type:0 -->
        <li class="temp-list" ng-if="vm.type == 0" ng-repeat='item in vm.items' id="{{ item.id }}" ng-click="goNativeBackParams('tab.account-payment-account-0004', { subAccountType:vm.subAccountType,id:item.id  })">
            <p class="temp-info font-16 mb-10">
                {{item.accountName}}
            </p>
            <p class="f-sb">
                <span class="temp-info font-14">当前余额(元):{{item.amount | number:2}}</span>
                <span class="temp-info font-14">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </p>
        </li>
        <!-- type:1 -->
        <li class="temp-list" ng-if="vm.type == 1" ng-repeat='itemds in vm.items' id="{{ itemds.id }}">
            <!--<li class="temp-list" ng-if="vm.type == 1" ng-repeat='itemds in vm.items' id="{{ itemds.id }}" ng-click="goNativeBackParams('accountAccountDetail', {detailId:itemds.id,type:vm.type})">-->
            <p class="temp-info font-16 mb-10 f-sb">
                <span class="text_flow_space max_200" style="height: 26px;">{{itemds.accountName}}</span>
                <span class="chooseUser" ng-click="vm.switchAccount(itemds.id);" ng-if="itemds.mainAccount==0">设为主账户</span>
                <span ng-if="itemds.mainAccount==1">主账户</span>
            </p>
            <p class="f-sb">
                <span class="temp-info font-14">当前余额(元):{{itemds.amount | number:2}}</span>
                <span class="temp-info font-14">{{itemds.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
            </p>
        </li>
    </ul>
    <ion-infinite-scroll ng-if="vm.hasMoreData" on-infinite="vm.loadMore()" spinner="lines" distance="3%" ></ion-infinite-scroll>
</ion-content>



<!--<ion-view hide-tabs="true" view-title="我的账户">-->
    <!--<ion-nav-bar class="bar-org">-->
        <!--<ion-nav-buttons side="left">-->
            <!--<button class="button button-clear icon iconfont icon-jiantou" ng-click="vm.goBack()"></button>-->
        <!--</ion-nav-buttons>-->
        <!--<ion-nav-buttons side="right">-->
            <!--&lt;!&ndash;<button class="button button-clear" style="font-size: 15px" ng-click="vm.showActionSheet()">管理</button>&ndash;&gt;-->
            <!--<i class="icon ion-plus-round" ng-if="vm.type == 1" ng-click="accountAdd()" style="color: #fff;font-size: 30px;"></i>-->
        <!--</ion-nav-buttons>-->
    <!--</ion-nav-bar>-->
    <!--<span class="more-hide-arrow" ng-show="visible"></span>-->

<!--</ion-view>-->